@page "/SudokuSolver"
@using Sudoku.Classes;
@using Sudoku.Components
@inject SweetAlertService Swal;
<h1>Enter the known numbers and click the Solve button!</h1>
@{
	if(board != null)
	{
		<BoardComponent Board="board" Edit="true"></BoardComponent>
		<button class="button-purple" @onclick="Reset">Reset</button>
		<button class="button-purple" @onclick="Solve">Solve</button>
		<button class="button-purple" @onclick="Unsolve">Unsolve</button>
	}
}

@code {

	private int[,] board = new int[9,9];
	private int[,]? boardBeforeSolving = null;

	private SudokuCreator sudokuCreator = new SudokuCreator();
	private SudokuSolver sudokuSolver = new SudokuSolver();

	//Reset Button -> start with an empty board
	private void Reset()
	{
		board = new int[board.GetLength(0), board.GetLength(1)];
		boardBeforeSolving = null;
	}

	//Solve Button: Display solved Board
	private async void Solve()
	{
		try
		{
			Sudoku sudoku = new Sudoku(board);

			if (sudokuSolver.IsSudokuPossible(sudoku))
			{
				//store original board to restore (unsolve) it later
				boardBeforeSolving = new int[board.GetLength(0), board.GetLength(1)];
				Array.Copy(board, boardBeforeSolving, board.Length);
				//solving prozess
				sudokuSolver.GenerateSolution(sudoku);
				//display solution
				sudoku.TryUncoverSolution();
				Array.Copy(sudoku.SolvedBoard, board, sudoku.SolvedBoard.Length);
			}
			else
			{
				await AlertBox.DisplaySudokuNotPossibleAlert(Swal);
			}
		}
		catch (Exception e)
		{
			await AlertBox.DisplayError(Swal, e.Message);
		}
	}

	//Unsolve Button: restore original board
	private void Unsolve()
	{
		if(boardBeforeSolving != null)
		{
			Array.Copy(boardBeforeSolving, board, boardBeforeSolving.Length);
			boardBeforeSolving = null;
		}
	}
}
