.board {
    margin: 70px auto;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    max-width: 450px;
}

.tile {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.tile-firstRow {
    border-top: 2px solid black;
}

.tile-firstCol {
    border-left: 2px solid black;
}

.tile-blockRow {
    border-bottom: 2px solid black;
}

.tile-blockCol {
    border-right: 2px solid black;
}