<section class="board">
	@{
		for (int i = 0; i < Board.GetLength(0); i++)
		{
			for (int j = 0; j < Board.GetLength(1); j++)
			{
				string cssClassTag = "tile";

				if((i + 1) % 3 == 0)
				{
					cssClassTag += " tile-blockRow";
				}
				if ((j + 1) % 3 == 0)
				{
					cssClassTag += " tile-blockCol";
				}
				if (i == 0)
				{
					cssClassTag += " tile-firstRow";
				}
				if (j == 0)
				{
					cssClassTag += " tile-firstCol";
				}

				string field = Board[i, j] == 0 ? " " : Board[i, j].ToString();

				<div class=@cssClassTag>@field</div>
			}
		}
	}
</section>
@code {
	[Parameter]
	public int[,] Board { get; set; } = new int[9, 9];
}
